.profile-sec {
    background: rgb(44, 16, 44);
    min-height: 120vh;
}

section h2 span {
margin-left: 1rem;
}
.desc {
    height: 20vh;
    width: 46.7rem;
    background-color: rgb(92, 89, 89,.3);
    opacity: 20;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.short-info {
    width: 17vw;
}
 .description, .content-descrip, p {
    margin-left: 5vw;
    width: 40vw;
    color:#fff;
    font-style: italic;
}

.garbage-bg{
    background-color: rgb(92, 89, 89,.3);
    opacity: 20;
    height: 20vh;
   

    /* margin-top: 2vh; */
    /* width: 1; */
}

h4, p, span {
    margin-left: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}



.profile {
    /* height: 20vh; */
    min-width: 350px;
    border: 1px solid #fff;
    /* border-radius: 1rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    align-items: center;
    /* justify-content: s */
}
    img {
        width: 12rem;
        height:7rem;
        /* border-radius:50%; */
    }
.icon {
    margin-top: 3rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    color:#fff;
}
.icon :hover {
        color: red;
        cursor: pointer;
    }

.star :hover {
    color: gold;
    cursor: pointer;
}

.--text-light{
    color:#fff
}

@media screen and (max-width: 600px) {
    .profile {
        flex-direction: row;
    }
}
    
section input{
    height: 1.5rem;
    max-width: 350px;
    margin-left: 1rem;
    margin-bottom: .5rem;
    width: 100%;
    border-radius: .5rem;
}

.phone-icon {
    color: orange;
}