*{
    box-sizing: border-box;
    border: 1px solid blue;
}


main{ 
    height: 100vh;
}

.flex{
    display: flex;
}

.fd-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.mb-10{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

.settings-container{
    justify-content: space-between;
}

.settings-container ul{
    list-style-type: none;
}

.settings-container  ul li{
    display: inline-block;
}

.gif-container{
    align-items: center;
}

/* .gif-container > div:first-child{
    height: 200px;
} */

#cups-gif{
    width: 50%;
    height: 50%;
}


/* 
.buttons-container {
    
    border: 10px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 208, 0);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} */


button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* .buttons-container #0 {
    align-items: center;
    box-flex-group: green;
} */

div.controls {
    height: 100px;
    width: 450px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
}