body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  width: 190px;
  height: 30px;
}
input {
  height: 30px;
  margin-left: 2px;
  margin-right: 2px;
} 

div .form-container {

  width: 450px;
  height: 50px;
  margin-top: 20px;
 /* display:contents;
 justify-content: space-between; */

}

.crop-container {
  width: 440px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.modalContainer {
  /* max-width: 200px; */
  /* width: 100%;
  position: fixed;
  top: 40%;
  left: 50%; */ 
  /* transform: translate(-50%, -50%); */
  /* display: flex; */
  width: 120%;
  height: 105%;
  /* background-color: #ffffff; */
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.65);
  border-radius: 8px;
}
/* .modalRight{
  display: flex;
  align-content: flex-end;
} */
/* .sidebar {
  position: relative;
  z-index: 1;
  right: 2rem;
  height: 100%;
  width: 30%;
} */

/* div {
  padding: 1px;
} */